@media screen and (min-width: 769px) {
    
    .main-container {
        
        height: auto;
        margin: 0 auto;
    }

/*Navbar*/

    .label-burger .container-burger {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1% 20% 0 10%;
    }

    .menu-list > ul {
        display: flex;
        justify-content: row;
        color: #060A24;
    }

    .menu-list > ul > li {
        padding-right: 10%;
    }

/*information-container*/

    .information-container {
        padding-top: 15%;
     }
 
     .title {
         font-size: 1.2em;
         padding-left: 15%;
     }
 
     .title > h1 > span {
         color: #0000EC;
     }

    .information-mobile {
        display: none;
    }

    .button {
        width: 153px;
        height: 42px;
        margin: 7% 0 0 15%;
        font-size: 0.8em;
    }

/*polygon and spotify*/

    .polygon {
        clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
        padding-bottom: 20%;
    }  
    
    .polygon > h1 {
        padding: 12% 0 2% 15%;
    }

    .polygon > .spotify {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 5% 0 5%;
    }
    
    .polygon > .spotify > .spotify-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 50%;
    }
        
    .spotify > .spotify-item > iframe {
        width: 100%;
        margin: 0 5% 8% 5%; 
    }

/*history container*/

    .history-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0 5% 0 7%;
    }

    .phone {
        top: -128px;
        height: 410px;
    }

    .phone > img {
        width: 320px;
        height: 500px;
    }

    .know-more > h1 {
        padding-bottom: 20px;
        font-size: 1.8rem;
    }

    .know-more > p {
        font-size: 0.6rem;
        line-height: 1.75;
    }

    .know-more {
        width: 290px;
        padding: 25px 0 0 13px;
    }

/*stellar-guests*/

    .stellar-guests > h1 {
        padding: 0  0 2% 15%;
    }

    .stellar-guests > .images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .images > .img {
        width: 33.3%;
        height: 250px;
    }  

    .images > .img > img {
        width: 100%;
        height: 100%;
    } 

/*some-topics*/

    .some-topics {
        padding-bottom: 7%;
    }
   
    .some-topics > h1 {
        padding: 5% 0 5% 15%;
        width: 80%;
        font-size: 1.6rem;
    }

    .some-topics > .images-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .images-text > .img-item {
        width: 140px;
        height: 80px;
    }

    .images-text > .img-item > img {
        width: 100%;
        height: 75px;
        padding: 0 5% 10% 5%;
    }

    .images-text > .img-item > span {
        width: 185px;
        font-size: 0.9rem;
    }

/*Polygon 2*/


    .polygon2 {
        clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
    }

    #button2 {
        width: 300px;
        margin: 0 0 15% 0;
    }
    

/*Footer*/

    .footer {
        max-width: 1200px;
        display: flex;
        flex-direction: row; 
        padding: 2% 0 2% 0;
    }

    .footer > .text {
        font-size: 0.6rem;
        padding-right: 45%;
        padding-left: 8%;
    }

    .footer > .iconos {
        display: flex;
        flex-direction: row;
    }

    .footer > .iconos > a {
        padding-right: 26%; 
    }

}
