@media screen and (max-width: 400px) {
    
    .main-container {
        width: 400px;
        height: auto;
    }

/*---------------------Navbar*-------------------*/

    .navbar > .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3% 5% 5% 5%;
    }
    
    .navbar > .menu-list {
        padding-left: 5%;
        background-color: #0000EC;
        width: 400px;
        height: 140px;
        line-height: 35px;
        color: white;
        transition: all 0.4s ease;
        transform: translate(100%);
        position: absolute;
    }

    .menu-list > ul >li > a {
        color: white;
    }

/*--------------information-container------------*/

    .information-container {
        margin-top: 5%;
    }

    .information-desktop {
        display: none;
    }

    .title {
        font-size: 1em;
        padding-left: 5%;
    }

    .button {
        font-size: 1.1em;
        width: 90%;
        height: 55px;
        margin: 5%;
    }

/*--------------polygon and spotify-------------*/

    .polygon {
        padding-bottom: 35%;
        clip-path: polygon(0 4%, 100% 0, 100% 96%, 0 100%);
    } 

    .polygon > h1 {
        padding: 17% 0 4% 5%;
    }
    
    .polygon > .spotify > .spotify-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4px 8px 4px 8px;
    }

    .spotify > .spotify-item > iframe {
        min-width: 365px;
    }

/*---------------history container-------------*/

    .history-container {
        padding-bottom: 15%;
    }

    .phone {
        top: -90px;
        height: 410px;
    }

    .phone > img {
        width: 360px;
        height: 519px;
    }

    .know-more {
        padding: 0 5% 0 5%;
    }

    .know-more > h1 {
        padding: 10% 0 5% 0;
        font-size: 2.3rem;
        width: 50%;
    }

    .know-more > p {
        font-size: 1.1rem;
    }

/*----------------stellar-guests---------------*/

    .stellar-guests > h1 {
        padding-left: 5%;
        width: 70%;
        font-size: 2.3rem;
        padding-bottom: 4%;
    }

    .images > .img {
        display: flex;
        flex-direction: column;
    }

    .images > .img > img {
        width: 400px;
        height: 255px;
    }

/*------------------some-topics----------------*/

    .some-topics > h1 {
        padding: 15% 0 0% 5%;
        width: 80%;
        font-size: 2rem;
    }

    .some-topics > .images-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .images-text > .img-item {
        margin-bottom: 20%;
        margin-top: 10%;
        width: 210px;
        height: 104px;
    }

    .images-text > .img-item > img {
        width: 100%;
        height: 100%;
    }

    .images-text > .img-item > span {
        font-size: 1.2rem;
    }

/*-------------------Polygon 2-----------------*/


    .polygon2 {
        clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 100%);
    }

    .polygon2 > h1 {
        width: 80%;
        text-align: center;
    }

/*---------------------Footer-------------------*/

    .footer {
        display: flex;
        flex-direction: column;
        width: 320px;  
        margin: 5% 17.5% 7% 17.5%;

    }

    .footer > .text {
        font-size: 1rem;
        padding-bottom: 5%;
    }

    .footer > .iconos > a {
        padding-right: 13%; 
    }

}

/*(Por fuera de la @media) - checked the Navbar*/

.custom-checkbox:checked + div + div {
    transform: translate(0%);
} 

.custom-checkbox:checked + .head > .label-burger > .container-burger > .line-med {
    opacity: 0;
}

.custom-checkbox:checked + .head > .label-burger > .container-burger > .line-top {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
} 

.custom-checkbox:checked + .head > .label-burger > .container-burger > .line-low {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}



/*Hacer caso omiso a los siguientes comentarios*/
/*--------------------------------------------------------------------------*/
/*Borrador personal: otra alternativa:*/

/*.head > .x {
    display: none;
}

.custom-checkbox:checked + .head > .x {
    display: block;
} */

/*.custom-checkbox:checked + .head > .label-burger {
    display: none;
}*/

/*--------------------------------------------------------------------------*/


